fastapi
uvicorn
python-dotenv
psycopg2-binary
langchain==0.3.25
langchain-community==0.3.24
langchain-openai==0.3.18
langchain-chroma==0.2.4
langchain-core==0.3.86
langchain-text-splitters==0.3.8
chromadb
streamlit
reportlab
arabic-reshaper
python-bidi
python-multipart
requests
